<body class="profiles-body">
  <div class="profile-container">
  		<h3 class="title-card"><%= connectInfo.firstName %> <%= connectInfo.lastName %></h3>

<div class="page-bullets">

  <p class="page-info"> <b>Company:</b> <%= connectInfo.company %> </p>

  <p class="page-info"> <b> Email: </b> <%= connectInfo.email %> </p>

  <p class="page-info"> <b> Phone Number:</b> <%= connectInfo.phoneNumber %> </p>

  <p class="page-info"> <b> Where You Met: </b> <%= connectInfo.originOfConnection%> </p>

  <p class="page-info"> <b> Notes: </b> <%= connectInfo.description %> </p>

</div>

<div class="page-buttons">
  <div class="button1">
    <a href="/connections/<%= connectInfo._id %>/edit" class="btn btn-outline-info profile-btn" role="button">Update</a>
  </div>



  </div>
</body>
