


  <!-- Info Card UI Design @ildiesign  coding: @oDsoky  -->
<body class="profiles-body">
  <div class="profile-container">
  	<img src="<%= connectInfo.photoUrl %>" class="card-pic">
  		<h3 class="title-card"><%= connectInfo.firstName %> <%= connectInfo.lastName %></h3>

<div class="page-bullets">

  <p class="page-info"> <b>Position:</b> <%= connectInfo.jobTitle%> </p>

  <p class="page-info"> <b>Company:</b> <%= connectInfo.company %> </p>

  <p class="page-info"> <b> Email: </b> <%= connectInfo.email %> </p>

  <p class="page-info"> <b> Phone Number:</b> <%= connectInfo.phoneNumber %> </p>

  <p class="page-info"> <b>LinkedIn:</b> <%= connectInfo.socialLink%> </p>

  <p class="page-info"> <b> Where You Met: </b> <%= connectInfo.originOfConnection%> </p>

  <p class="page-info"> <b> Notes: </b> <%= connectInfo.description %> </p>

</div>

<div class="page-buttons">
  <div class="button1">
    <a href="/connections/<%= connectInfo._id %>/edit" class="btn btn-outline-info profile-btn" role="button">Edit</a>
  </div>

  <div class="button2">
    <form method="post" action="/connections/<%= connectInfo._id %>/delete">
        <button class="profile-btn"> Delete </button>
    </form>
  </div>

  <div class="button3">
    <a href="/connections/" class="btn btn-outline-info profile-btn" role="button">Back</a>
  </div>
</div>

<!-- <div class="sharethis-inline-share-buttons"></div> -->

  </div>
</body>
